<div class="form-container">
    <form class="bday-form">
        <div class="bday-form__header">
            <span class="bday-form__header__question">{{question.question}}</span>
        </div>
        <div class="bday-form__body">
            <input class="bday-form__body__input" value="{{question.answer}}"/>
        </div>
        <div class="bday-form__footer">
           <button type="button" (click)="prev()">prev</button>
           <button type="button" (click)="next()">next</button>
        </div>    
    </form>
</div>
